<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lam.mapper.OrderMapper">
    <update id="updateOrder" parameterType="com.lam.pojo.Order" >
        update orders
        <set>
            <if test="state != null">state = #{state},</if>
            <if test="exp_id != null">exp_id = #{exp_id},</if>
        </set>
        where order_id = #{order_id};
    </update>
</mapper>